.footer-dark {
  padding:50px 0;
  background-color:#34495e;
}


@media (max-width:767px) {
  .footer-dark .item:not(.social) {
    text-align:center;
    padding-bottom:20px;
  }
}


.copyright {
  text-align:center;
  padding-top:24px;
  font-size:13px;
  margin-bottom:0;
  color: #ffff;
}

